@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slideIn {
    animation: slideInFromLeft 0.5s ease-out forwards;
  }
  
  .imageShadow {
    box-shadow: 4px 6px 8px 3px rgba(0, 0, 0, 0.095);
  }

  